volumes:
    cache:

networks:
    traefik:
        name: traefik
        external: true

services:
    frigate:
        image: ghcr.io/blakeblackshear/frigate:${FRIGATE_TAG:-stable}
        restart: unless-stopped
        stop_grace_period: 30s # allow enough time to shut down the various services
        shm_size: "256mb"
        networks:
            - traefik
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /mnt/ssd-1tb/docker/frigate/config:/config
            - /mnt/hdd-16tb/docker/frigate/media:/media/frigate
            - type: tmpfs
              target: /tmp/cache
              tmpfs:
                  size: 1000000000
        environment:
            TZ: Europe/Berlin
            FRIGATE_RTSP_PASSWORD: "${FRIGATE_RTSP_PASSWORD}"
        labels:
            - traefik.enable=true
            - traefik.http.routers.frigate.entrypoints=websecure
            - traefik.http.routers.frigate.rule=Host(`frigate.patz.app`)
            - traefik.http.routers.frigate.tls=true
            - traefik.http.routers.frigate.tls.certresolver=patz.app
            - traefik.http.services.frigate.loadbalancer.server.port=8971
